package welcome

import "example/todoapp/views/layout"

templ Show(message string){
    @layout.Base(){
    <h1>{message}</h1>
    }
}

templ Header(){
    <h1>This is a header</h1>
}

templ Button(text string) {
	<button class="button">{ text }</button>
}